/*********************************************************************************/
/* container Style                                                                  */
/*********************************************************************************/
.container1 {
	float: left;
	margin-left: 220px;
}

.container2 {
	float: right;
	margin-right:220px;
	width:650px;
	height:465px;
}

@media screen and (max-width: 1000px) {
	.container1 {
		float:none;
	}
	.container2 {
		float:none;
		margin-left:220px;
		margin-top:100px;
		width:auto;
	}
}

/*********************************************************************************/
/* Table Style                                                                  */
/*********************************************************************************/
.memberList {
    display: block;
    border-collapse: collapse;
    text-align: center;
    line-height: 1.5;
    width:420px;
}
.memberList tbody {
	display:block;
	overflow: auto;
	height: 360px;
}
.memberList thead th {
    text-align: center;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: #369;
    border-bottom: 3px solid #036;
}
.memberList td {
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}

.memberList th:nth-of-type(1), .memberList td:nth-of-type(1) {
    background: #f3f6f7;
	width: 100px;
}
.memberList th:nth-of-type(2), .memberList td:nth-of-type(2) {
	width: 100px;
}
.memberList th:nth-of-type(3), .memberList td:nth-of-type(3) {
    background: #f3f6f7;
	width: 200px;
}






/*********************************************************************************/
/* Search Style                                                                  */
/*********************************************************************************/
#searchbt {
	background:lightgray;
	color:white;
	font-weight:bold;
	margin-left:10px;
	width: 60px;
}
#searchinput {
	margin-left:10px;
	width: 200px;
}



#search-body, #search-body #s-form-body, #search-body #s-form-body #s-form,
#search-body #s-btn-body, #search-body #s-btn-body #s-btn {
	padding: 0;
	margin: 0;
	outline: none;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 30px;
	line-height: 30px;
}

#search-body {
	width: 400px;
}

#search-body #s-form-body {
	overflow: hidden;
	border: none;
}

#search-body #s-form-body #s-form {
	line-height: 16px;
	width: 100%;
	padding: 0 4px;
	font-size: 16px;
	font-family: Roboto, arial, sans-serif;
	border: 1px solid #ccc;
	border-right: none;
	box-shadow: inset 0 1px 0 #eee;
	border-radius: 2px 0 0 2px;
	background-color: #fff;
	float: left;
}

#search-body #s-form-body #s-form:focus {
	border-color: #47b98f;
}

#search-body #s-btn-body {
	cursor: pointer;
	border-radius: 0 2px 2px 0;
	border: solid 1px #47b98f;
	background: #47b98f;
	float: right;
}

#search-body #s-btn-body:hover, #search-body #s-btn-body:active {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

#search-body #s-btn-body:hover {
	border-color: #37a97f;
	background-color: #37a97f;
}

#search-body #s-btn-body:active {
	outline: none;
	border-color: #1b8d6d;
	background-color: #1b8d6d;
}

#search-body #s-btn-body #s-btn {
	border: none;
	display: block;
	opacity: .9;
	background: url("/semi/images/search_w.png") center center no-repeat;
	width: 50px;
	height: 28px;
}